@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);


*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e8ff;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/bg.jpg);

    /*min-height: 100vh;*/
}

.text{
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 59.8974px;
    line-height: 90px;
    color: #FDB813;
}

.text .btn{
    background-color: #FDB813;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Poppins';
    padding: 10px 30px;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
}
p{
    color: #FFFFFF;
    position: relative;
    font-size: 15px;
    top: 240px; 
    cursor: pointer;

}

.text .btn:hover{
    color: #FDB813;
    background-color: #FFFFFF;
}