@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    background-size: cover;
}

.arrow img{
position: absolute;
width: 40px;
height: 40px;
left: 22px;
top: 44px;
}

.content h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.375px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    left: 30%;
    top: 54px;
}

.container {
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.num {
    color: #000;
    background-color: transparent;
    width: 70px;
    text-align: center;
    outline: none;
    padding: 1px 2px;
    margin: 0 auto;
    font-size: 3rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    color: #FDB813;
    
}

.num:focus,
.num:valid {
    background-color: #fff1cf;
    border-color: #FDB813;
    color: #000;
}

.content .btn1{
    display: flex;
    justify-content: center;
    margin: 70px auto  70px auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
    background: #FDB813;
    border-radius: 20px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    
}

a{
    text-decoration: none;
}