@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);


*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    background-size: cover;
}

.arrow img{
position: absolute;
width: 40px;
height: 40px;
left: 22px;
top: 44px;
}

h1{
    position: absolute;
left: 32px;
top: 110px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 41.0256px;
line-height: 50px;
color: #000000;
text-align: start;
}

input{
   margin-bottom: 20px;
   margin-top: -20px;
}
.email{
    position: absolute;
left: 8%;
right: 8.27%;
top: 38.67%;
bottom: 55.42%;
background: url(img/email.png) no-repeat scroll rgba(196, 196, 196, 0.3);
background-size: 17px 17px;
background-position-x: 10px;
background-position-y: center;
padding-left:35px;
border-radius: 10px;
border: none;
}

input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #C5C2C2;
    }


#id_password{
    position: absolute;
    left: 8%; 
right: 8.27%;
top: 48.77%;
bottom: 45.32%;
background: url(img/padlock.png) no-repeat scroll rgba(196, 196, 196, 0.3);
background-size: 20px 20px;
background-position-x: 7.3px;
background-position-y: center;
padding-left:35px;
border-radius: 10px;
border: none;
}


#togglePassword{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 85%;
    top: 48.5%;
    bottom: 45.5%;
}

@media (max-width : 380px) {
   #togglePassword{
    top: 47.5%;
    width: 25px;
    height: 25px;
   } 
}

@media (max-width : 720px) {
    #togglePassword{
     top: 48%;
     width: 25px;
     height: 25px;
    } 
 }
 
@media (max-height : 736px) {
    #togglePassword{
     top: 47.5%;
     width: 25px;
    height: 25px;
    } 
 }

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  

  .content{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 57%;
}

.checkbox{
    height: 12px;
    width: 12px;
}

.remember{
    font-style: normal;
font-weight: 500;
font-size: 12px;

}

.content .btn1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    background: #FDB813;
    border-radius: 20px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

.content .btn1:hover{
    background: #fdd066;
    color: #fff;
}

a{
    text-decoration: none;;
}

p{
    font-family: 'Poppins';
    margin-top: 50px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: rgba(0, 0, 0, 0.6);
}  

.apple{
    margin-top: 12px;
    cursor: pointer;
}

.google{
    margin-top: 15px;
    cursor: pointer;
}

.footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer p span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
color: #FFB400;
}