@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);


*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'poppins', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    background-size: cover;
}

.arrow img{
position: absolute;
width: 40px;
height: 40px;
left: 22px;
top: 44px;
}
a{
    text-decoration: none;
}

.content{
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

.content img{
    width: 259px;
    height: 218.52px;
}

h1{
    line-height: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.content .btn1{
    display: flex;
    justify-content: center;
    margin: 30px auto  0 auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
    background: #FDB813;
    border-radius: 20px;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

.content .btn1:hover{
    background: #fdd066;
    color: #fff;
}

.content .btn2{
    font-family: 'poppins', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 27px;

color: #FDB813;
}